
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 登录</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="vuecon" class="main">
        <img class="logo" src="~/Content/image/cheyinzilogo.png" />
        <div class="systemtitle">@ViewBag.Title</div>
        <input class="merchantcode" placeholder="商户号" type="text" v-model="MerchantCode" />
        <input class="username" placeholder="用户名" type="text" v-model="UserName" />
        <input class="password" placeholder="密码" type="text" onfocus="this.type='password'" v-model="Password" />
        <div class="loginbtn" v-on:click="login">
            <span class="glyphicon glyphicon-refresh icon-spin" style="display:none;"></span>
            <span class="logintext">登 录</span>
        </div>
        <div class="alert alert-danger operationError" role="alert" style="display: none;"></div>
    </div>
    <style type="text/css">
        .logo {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
        }

        body {
            background: #1f2025;
        }

        .main {
            width: 400px;
            height: 300px;
            margin: 10% auto 0 auto;
            text-align: center;
        }

        input {
            width: 300px;
            height: 45px;
            border: none;
            background: #fff;
            color: #000;
            margin: 5px;
            padding-left: 10px;
        }

            input::-webkit-input-placeholder {
                color: #000;
                opacity: .2;
            }

        .loginbtn {
            width: 300px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 15px;
            color: #000;
            background: #fff;
            margin: 10px auto;
            cursor: pointer;
        }

        .loginglyphicon {
            display: none;
        }

        .errorinput {
            border: 1px #ff0000 solid;
        }

        .systemtitle {
            color: #fff;
            font-size: 20px;
            width: 100%;
            text-align: center;
            padding-bottom: 20px;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerycookie")
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript">
        var _viewModel = new Vue({
            el: '#vuecon',
            data: {
                MerchantCode: '',
                UserName: '',
                Password: '',
            },
            methods: {
                login: function (event) {
                    login(event);
                }
            }
        });
        $('input').keydown(function (e) {
            if (e.keyCode == 13) {
                login(e);
            }
        });
        function login(event) {
            if (event != null) {
                event.preventDefault();
                event.stopImmediatePropagation();
            }
            //var validater = $('#formLogin').validate();
            //if (!validater.checkForm()) {
            //    validater.showErrors();
            //    return;
            //}
            if (_viewModel.MerchantCode == '' || _viewModel.UserName == '' || _viewModel.Password == '') {
                if (_viewModel.MerchantCode == '')
                    $('.merchantcode').addClass('errorinput');
                if (_viewModel.UserName == '')
                    $('.username').addClass('errorinput');
                if (_viewModel.Password == '')
                    $('.password').addClass('errorinput');
                return;
            }
            $('.logintext').text('登录中...');
            $('.glyphicon').show();
            $('.loginbtn').attr("disabled", true);
            $.ajax({
                url: "/Login",
                data: {
                    CompanyCode: _viewModel.MerchantCode,
                    UserName: _viewModel.UserName,
                    Password: _viewModel.Password,
                },
                type: 'POST',
                beforeSend: function () {
                    $('.operationError').hide();
                },
                success: function (data) {
                    if (data != null && data.IsSuccess == true) {
                        $.cookie('lastLoginUser', data.UserCode);
                        //var txtCompanyCode = $('#CompanyCode');
                        //if (txtCompanyCode != null) {
                        //    $.cookie('CompanyCode', txtCompanyCode.val());
                        //}
                        sessionStorage.setItem('userCode', data.UserCode);
                        sessionStorage.setItem('userName', data.UserName);
                        sessionStorage.setItem('companyCode', data.CompanyCode);
                        sessionStorage.setItem('userToken', data.UserToken);
                        window.location.href = "/";
                    } else {
                        $('.operationError').text(data.ErrorMsg).show();
                        $('.logintext').text('登录');
                        $('.glyphicon').hide();
                        $('.loginbtn').attr("disabled", false);
                    }
                },
                error: function () {
                    $('.operationError').text('登录失败，请重试。错误原因：未知错误。').show();
                    $('.logintext').text('登录');
                    $('.glyphicon').hide();
                    $('.loginbtn').attr("disabled", false);
                }
            });
        }
    </script>
</body>
</html>
